<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <body>
   <h1> Create a Team and Heroes! </h1>

   <form method="POST" action="/teams">
     <label for="name">Team Name</label>
     <input type="text" name="team[name]"><br>
     <p>Name: <input type="text" name="name"> </p>
     <p>Power: <input type="text" name="power"> </p>
     <p>Bio: <input type="text" name="bio"> </p>
     <input type="submit" value="submit">
   </form>
 </body>
</html>
